<div class="table-container">
	<table mat-table [dataSource]="dataSource">
		<!-- Cod Reclamo -->
		<ng-container matColumnDef="codReclamo">
			<th mat-header-cell *matHeaderCellDef>Cod. Reclamo</th>
			<td mat-cell *matCellDef="let element">{{ element.codReclamo }}</td>
		</ng-container>

		<!-- Usuario -->
		<ng-container matColumnDef="usuario">
			<th mat-header-cell *matHeaderCellDef>Usuario</th>
			<td mat-cell *matCellDef="let element">{{ element.usuario }}</td>
		</ng-container>

		<!-- Usuario Reclamante -->
		<ng-container matColumnDef="usuarioReclamante">
			<th mat-header-cell *matHeaderCellDef>Usuario Reclamante</th>
			<td mat-cell *matCellDef="let element">
				{{ element.usuarioReclamante }}
			</td>
		</ng-container>

		<!-- DNI -->
		<ng-container matColumnDef="dni">
			<th mat-header-cell *matHeaderCellDef>DNI</th>
			<td mat-cell *matCellDef="let element">{{ element.dni }}</td>
		</ng-container>

		<!-- Fecha Registro -->
		<ng-container matColumnDef="fechaRegistro">
			<th mat-header-cell *matHeaderCellDef>Fecha Registro</th>
			<td mat-cell *matCellDef="let element">
				{{ element.fechaRegistro }}
			</td>
		</ng-container>

		<!-- Correo -->
		<ng-container matColumnDef="correo">
			<th mat-header-cell *matHeaderCellDef>Correo</th>
			<td mat-cell *matCellDef="let element">{{ element.correo }}</td>
		</ng-container>

		<!-- Filial -->
		<ng-container matColumnDef="filial">
			<th mat-header-cell *matHeaderCellDef>Filial</th>
			<td mat-cell *matCellDef="let element">{{ element.filial }}</td>
		</ng-container>

		<!-- Arch -->
		<ng-container matColumnDef="arch">
			<th mat-header-cell *matHeaderCellDef>Arch.</th>
			<td mat-cell *matCellDef="let element">
				<mat-icon class="material-icons-round">attach_file</mat-icon>
			</td>
		</ng-container>

		<!-- Detalle -->
		<ng-container matColumnDef="tipo">
			<th mat-header-cell *matHeaderCellDef>Tipo Reclamo</th>
			<td mat-cell *matCellDef="let element">
				<mat-icon (click)="openModal(element)" class="material-icons-round"
					>description</mat-icon
				>
			</td>
		</ng-container>

		<!-- Reenviar -->
		<ng-container matColumnDef="reenviar">
			<th mat-header-cell *matHeaderCellDef>Derivar</th>
			<td mat-cell *matCellDef="let element">
				<mat-icon class="material-icons-round">sync_alt</mat-icon>
			</td>
		</ng-container>

		<!-- Modelo -->
		<ng-container matColumnDef="modelo">
			<th mat-header-cell *matHeaderCellDef>Reenviar Mensaje</th>
			<td mat-cell *matCellDef="let element">
				<mat-icon class="material-icons-round">library_books</mat-icon>
			</td>
		</ng-container>

		<!-- Acción (Botón para abrir Modal) -->
		<ng-container matColumnDef="accion">
			<th mat-header-cell *matHeaderCellDef>Acción</th>
			<td mat-cell *matCellDef="let element">
				<button mat-raised-button color="primary" (click)="openModal(element)">
					Detalle
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>

	<mat-paginator
		class="pt-6"
		[pageSizeOptions]="[5, 10, 20]"
		showFirstLastButtons
	></mat-paginator>
</div>
