<mat-tab-group>
	<!-- Primera Pestaña: Búsqueda Detallada -->
	<mat-tab label="Búsqueda Detallada">
		<form
			[formGroup]="detalladaForm"
			class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4 mx-4"
		>
			<!-- Selector de Universidades -->
			<div class="flex flex-col">
				<label for="universidades" class="mb-1 text-gray-700 font-bold"
					>Campus:</label
				>
				<mat-form-field class="w-full" appearance="outline">
					<mat-label>Universidad</mat-label>
					<mat-select formControlName="universidadSeleccionada">
						<!-- Usamos *ngFor para iterar sobre las universidades -->
						<mat-option *ngFor="let uni of universidades" [value]="uni.nUniOrgCodigo">
							{{ uni.cUniOrgNombre }}
						</mat-option>
					</mat-select>
					<mat-error
						*ngIf="detalladaForm.get('universidadSeleccionada')?.hasError('required')"
					>
						Seleccione una universidad.
					</mat-error>
				</mat-form-field>

			</div>

			<!-- Fechas de Inicio -->
			<div class="flex flex-col">
				<label for="fecha-inicio" class="mb-1 text-gray-700 font-bold"
					>Fecha Inicio:</label
				>
				<mat-form-field class="w-full" appearance="outline">
					<mat-label>Fecha Inicio</mat-label>
					<input
						matInput
						[matDatepicker]="picker1"
						formControlName="fechaInicio"
						(dateChange)="
							detalladaForm.get('fechaFin')?.updateValueAndValidity()
						"
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="picker1"
					></mat-datepicker-toggle>
					<mat-datepicker #picker1></mat-datepicker>
					<mat-error
						*ngIf="detalladaForm.get('fechaInicio')?.hasError('required')"
						>Seleccione una fecha de inicio.</mat-error
					>
				</mat-form-field>
			</div>

			<!-- Fechas de Fin -->
			<div class="flex flex-col">
				<label for="fecha-fin" class="mb-1 text-gray-700 font-bold"
					>Fecha Fin:</label
				>
				<mat-form-field class="w-full" appearance="outline">
					<mat-label>Fecha Fin</mat-label>
					<input
						matInput
						[matDatepicker]="picker2"
						formControlName="fechaFin"
						[min]="detalladaForm.get('fechaInicio')?.value"
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="picker2"
					></mat-datepicker-toggle>
					<mat-datepicker #picker2></mat-datepicker>
					<mat-error *ngIf="detalladaForm.get('fechaFin')?.hasError('required')"
						>Seleccione una fecha de fin.</mat-error
					>
					<mat-error *ngIf="detalladaForm.hasError('rangoInvalido')"
						>La fecha de fin no puede ser anterior a la fecha de
						inicio.</mat-error
					>
				</mat-form-field>
			</div>

			<!-- Estado del Reclamo -->
			<div class="flex flex-col md:col-span-2">
				<label class="mb-1 text-gray-700 font-bold">Estado del Reclamo:</label>
				<div class="grid grid-cols-2 gap-2">
					<mat-checkbox
						*ngFor="let est of estados"
						[checked]="isChecked(est)"
						(change)="toggleEstado($event.checked, est)"
					>
						{{ est }}
					</mat-checkbox>
				</div>
			</div>

			<!-- Tipo de Reclamo -->
			<div class="flex flex-col">
				<label class="mb-1 text-gray-700 font-bold">Tipo de Reclamo:</label>
				<mat-radio-group formControlName="tipoReclamoDetallado">
					<div class="grid grid-cols-2 gap-2">
						<mat-radio-button
							*ngFor="let tipo of tiposReclamo"
							[value]="tipo"
							>{{ tipo }}</mat-radio-button
						>
					</div>
				</mat-radio-group>
			</div>

			<!-- Botón de búsqueda -->
			<div class="flex items-end md:col-span-3 mb-2">
				<button
					class="w-full text-white py-2 px-4 rounded shadow-lg flex items-center justify-center space-x-2"
					mat-raised-button
					color="primary"
					(click)="buscar()"
				>
					<mat-icon class="material-icons-round">search</mat-icon>
					<span class="font-semibold uppercase">Buscar</span>
				</button>
			</div>
		</form>
	</mat-tab>

	<!-- Segunda Pestaña: Búsqueda por Código -->
	<mat-tab label="Buscar por Código">
		<form [formGroup]="codigoForm" class="space-y-4 p-4">
			<!-- Campo de entrada del código -->
			<label class="font-bold text-gray-700" for="codigo">Código:</label>
			<mat-form-field appearance="outline" class="w-full">
				<mat-label>Ingrese el Código</mat-label>
				<input matInput formControlName="codigo" />
				<mat-error *ngIf="codigoForm.get('codigo')?.hasError('required')"
					>El campo es obligatorio.</mat-error
				>
				<mat-error *ngIf="codigoForm.get('codigo')?.hasError('minlength')"
					>El código debe tener al menos 5 dígitos.</mat-error
				>
			</mat-form-field>

			<!-- Botón de búsqueda -->
			<div class="flex justify-end">
				<button
					mat-raised-button
					color="primary"
					class="text-white flex items-center px-4 rounded shadow-lg"
					(click)="buscarPorCodigo()"
				>
					<mat-icon class="material-icons-round">search</mat-icon>
					<span>Buscar</span>
				</button>
			</div>
		</form>
	</mat-tab>
</mat-tab-group>
