<div class="mx-4 my-2">
	<div class="grid grid-cols-1 md:gap-4 lg:gap-10 md:grid-cols-2">
		<!-- Selector de Universidades -->
		<div class="space-y-2">
			<label class="font-semibold" for="universidades">Campus:</label>
			<mat-form-field appearance="outline" class="w-full">
				<mat-label>Universidad</mat-label>
				<mat-select [(ngModel)]="universidadSeleccionada">
					<mat-option *ngFor="let uni of universidades" [value]="uni.id">
						{{ uni.nombre }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<!-- Fecha de Inicio y Fin -->
		<div class="space-y-2">
			<label class="font-semibold" for="fecha-inicio"
				>Búsqueda por Fechas:</label
			>
			<div class="flex space-x-6">
				<mat-form-field appearance="outline" class="w-[50%]">
					<mat-label>Fecha Inicio</mat-label>
					<input matInput [matDatepicker]="picker1" [(ngModel)]="fechaInicio" />
					<mat-datepicker-toggle
						matSuffix
						[for]="picker1"
					></mat-datepicker-toggle>
					<mat-datepicker #picker1></mat-datepicker>
				</mat-form-field>
				<mat-form-field appearance="outline" class="w-[50%]">
					<mat-label>Fecha Fin</mat-label>
					<input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin" />
					<mat-datepicker-toggle
						matSuffix
						[for]="picker2"
					></mat-datepicker-toggle>
					<mat-datepicker #picker2></mat-datepicker>
				</mat-form-field>
			</div>
		</div>
	</div>

	<!-- Radio Group de Tipo de Reclamo -->
	<div class="space-y-2 mb-4">
		<label class="font-bold">Tipo de Reclamo:</label>
		<mat-radio-group [(ngModel)]="tipoReclamo">
			<div class="mobile-grid mobile-grid-cols-2 mobile-gap-4">
				<mat-radio-button
					*ngFor="let tipo of tiposReclamo"
					[value]="tipo"
					class="mr-4"
				>
					{{ tipo }}
				</mat-radio-button>
			</div>
		</mat-radio-group>
	</div>

	<!-- Checkbox de Estado del Reclamo -->
	<div class="space-y-2 mb-4">
		<label class="font-bold">Estado del Reclamo:</label>
		<div class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-7">
			<mat-checkbox
				*ngFor="let est of estados"
				[checked]="isChecked(est)"
				(change)="toggleEstado($event.checked, est)"
			>
				{{ est }}
			</mat-checkbox>
		</div>
	</div>

	<!-- Botón de búsqueda -->
	<div class="flex justify-end pt-2">
		<button
			mat-raised-button
			color="primary"
			class="flex items-center px-4 py-2 text-white rounded-md"
			(click)="buscar()"
		>
			<mat-icon class="material-icons-round">search</mat-icon>
			Buscar
		</button>
	</div>
</div>

<!-- <app-list-reclamos></app-list-reclamos> -->
